@mixin media($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}

@mixin symbol($child, $symbol) {
	.freat:nth-child(#{$child})  {
		&:after {
			content: $symbol;
			position: absolute;
			top: 120%;
			right: 0;
			left: 0;
			text-align: center;
			height: 10px;
			font-size: 6px;
		}
	} 
}