@mixin media($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}

@mixin string() {
	width: 100%;
	height: 35px;
	display: flex;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		height: 1px;
		width: 100%;
		background: #919191;
		top:0;
		bottom: 0;
		margin: auto 0;
	}
}