@import '_reset.scss';
@import 'smart-grid.scss';
@import '_fonts.scss';
@import '_vars.scss';
@import '_mixins.scss';

body {
	font-family: sans-serif;
	font-size: 18px;
	padding: 30px;
	margin: 0 auto;
	max-width: 1280px;
}

* {
	box-sizing: border-box;
}

.interval {
	@extend .notes;

}

.interval__item {
	@extend .notes__item;
}

.notes {
	position: relative;
	z-index: 100;
	padding-left: 52px;
	margin-bottom: 30px;
	font-size: 0;
	p {
		margin-bottom: 10px;
		font-size: 18px;
	}
}

.notes__item {
	padding: 5px;
	width: 41px;
	cursor: pointer;
	border: 1px solid #aaa;
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	transition: .3s;
	font-size: 16px;
	margin-right: 2px;
	&:hover {
		background: #FFE5AF;
	}
}


.freatboard {
	max-width: 920px;
	display: flex;
	flex-direction: column;
	position: relative;
	box-shadow: 0px 0px 5px 0px #ccbca3;
	&:before {
		content: "";
		position: absolute;
		height: 520px;
		width: 420px;
		top: -150px;
		z-index: 6;
		right: 94%;
		background-image: url(../img/www.jpg);
		background-position: right 10px;
		background-repeat: no-repeat;
		background-size: 224%;
	}
}

.string {
	width: 100%;
	height: 35px;
	display: flex;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		height: 1px;
		width: 100%;
		background: #919191;
		top:0;
		bottom: 0;
		margin: auto 0;
		z-index: 5;
	}
}

.freat {
	width: 100%;
	position: relative;
	border-right: 2px solid #ddd;
	background: #ccbca3;
	&:before {
		position: absolute;
		content: attr(data-content);
		border-radius: 50%;
		font-size: 13px;
		left: 50%;
		transform: translateX(-50%);
		font-weight: bold;
		padding: 2px;
		width: 20px;
		text-align: center;
		cursor: pointer;
		height: 20px;
		line-height: 21px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		z-index: 10;
	}
}

.freat:first-child  {
	//background: #eee;
	//position: relative;
	margin-left: 8px;
}

.features {
	position: relative;
	margin-top: 50px;
	z-index: 100;
	padding-left: 52px;
}

.string:last-child {
	@include symbol('4', '\26AB');
	@include symbol('6', '\26AB');
	@include symbol('8', '\26AB');
	@include symbol('10', '\26AB');
	@include symbol('13', '\26AB \26AB');
	@include symbol('16', '\26AB');
	@include symbol('18', '\26AB');
	@include symbol('20', '\26AB');
	@include symbol('22', '\26AB');
}

.gray {
	&:before {
		background: #d1d1d1;
	}
}

.note {
	&:before {
		background: #FFE5AF;
	}
}

.selected {
	background: #FFE5AF;
}

.err {
	&:before {
		border: 1px solid #990000;
	}
}

.T {
	&:before {
		background: #faf189;
	}
}

.what-note {
	&:before {
		background: #d1d1d1;
	}
}