@import '_reset.scss';
@import 'smart-grid.scss';
@import '_fonts.scss';
@import '_vars.scss';
@import '_mixins.scss';

body {
	font-family: sans-serif;
	font-size: 18px;
	padding: 30px;
	margin: 0 auto;
	max-width: 1280px;
}

* {
	box-sizing: border-box;
}

.notes {
	display: flex;
}

.notes__item {
	padding: 5px;
	width: 35px;
	background: #eee;
	border: 1px solid grey;
	box-sizing: border-box;
	text-align: center;
}


.freatboard {
	max-width: 790px;
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 6px 1px rgba(20,20,20,1);
	position: relative;

}

.string {
	@include string();
}

.freat {
	width: 100%;
	position: relative;
	border-right: 1px solid black;
	&:before {
		position: absolute;
		z-index: 100;
		content: attr(data-content);
		border-radius: 50%;
		font-size: 13px;
		left: 10px;
		font-weight: bold;
		padding: 2px;
		width: 20px;
		text-align: center;
		cursor: pointer;
		height: 20px;
		line-height: 21px;
		top: 0;
		bottom: 0;
		margin: auto 0;
	}
}

.note {
	&:before {
		background: #FFE5AF;
	}
}

.freat-1 {
	background: #eee;
}

.T {
	&:before {
		background: #D4B16A;
		
	}
}
