@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "firasans";
  src: url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype");
}

body {
  font-family: sans-serif;
  font-size: 18px;
  padding: 30px;
  margin: 0 auto;
  max-width: 1280px;
}

* {
  box-sizing: border-box;
}

.notes, .interval {
  position: relative;
  z-index: 100;
  padding-left: 52px;
  margin-bottom: 30px;
  font-size: 0;
}

.notes p, .interval p {
  margin-bottom: 10px;
  font-size: 18px;
}

.notes__item, .interval__item {
  padding: 5px;
  width: 41px;
  cursor: pointer;
  border: 1px solid #aaa;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  transition: .3s;
  font-size: 16px;
  margin-right: 2px;
}

.notes__item:hover, .interval__item:hover {
  background: #FFE5AF;
}

.freatboard {
  max-width: 920px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 5px 0px #ccbca3;
}

.freatboard:before {
  content: "";
  position: absolute;
  height: 520px;
  width: 420px;
  top: -150px;
  z-index: 6;
  right: 94%;
  background-image: url(../img/www.jpg);
  background-position: right 10px;
  background-repeat: no-repeat;
  background-size: 224%;
}

.string {
  width: 100%;
  height: 35px;
  display: flex;
  position: relative;
}

.string:before {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background: #919191;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 5;
}

.freat {
  width: 100%;
  position: relative;
  border-right: 1px solid black;
  background: #ccbca3;
}

.freat:before {
  position: absolute;
  content: attr(data-content);
  border-radius: 50%;
  font-size: 13px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  padding: 2px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  height: 20px;
  line-height: 21px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 10;
}

.freat:first-child {
  margin-left: 8px;
}

.string:last-child .freat:nth-child(4):after {
  content: "⚫";
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  text-align: center;
  height: 10px;
  font-size: 6px;
}

.string:last-child .freat:nth-child(6):after {
  content: "⚫";
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  text-align: center;
  height: 10px;
  font-size: 6px;
}

.string:last-child .freat:nth-child(8):after {
  content: "⚫";
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  text-align: center;
  height: 10px;
  font-size: 6px;
}

.string:last-child .freat:nth-child(10):after {
  content: "⚫";
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  text-align: center;
  height: 10px;
  font-size: 6px;
}

.string:last-child .freat:nth-child(13):after {
  content: "⚫⚫";
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  text-align: center;
  height: 10px;
  font-size: 6px;
}

.string:last-child .freat:nth-child(16):after {
  content: "⚫";
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  text-align: center;
  height: 10px;
  font-size: 6px;
}

.string:last-child .freat:nth-child(18):after {
  content: "⚫";
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  text-align: center;
  height: 10px;
  font-size: 6px;
}

.string:last-child .freat:nth-child(20):after {
  content: "⚫";
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  text-align: center;
  height: 10px;
  font-size: 6px;
}

.string:last-child .freat:nth-child(22):after {
  content: "⚫";
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  text-align: center;
  height: 10px;
  font-size: 6px;
}

.gray:before {
  background: #d1d1d1;
}

.note:before {
  background: #FFE5AF;
}

.selected {
  background: #FFE5AF;
}

.T:before {
  background: #faf189;
}
